	html {
            margin: 0;
            padding: 0;
            width: 100%;
            min-height: 100%;
            position: relative;
        }

        body {
            margin: 0;
            padding: 100px;
            min-height: 100%;
            background-color: #34495e;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            position: relative;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }

        .container {
            text-align: center;
            margin: 0 auto;
            max-width: 800px;
            color: #2d3a3f;
            padding-top: 5px;
        }

        a, a:visited, a:hover {
            color: inherit;
            text-decoration: none;
        }

        .box {
            display: block;
            background: rgba(255, 255, 255, 0.6);
            padding: 20px;
            border-radius: 3px;
            margin: 10px 5px;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
        }

        p {
            margin-bottom: 10px;
        }
	@media screen and (max-width: 600px) {
	.container {
		padding-top: 0px;
	    }
	.box {
	    	margin: 0px -100px;
		}
	}
	::-webkit-scrollbar {
	         display: none;
		          }
